.Nav-bar {
  background-color: #0f172a;
  color: white;
  position: sticky;
  z-index: 1000;
  top: 0;
}
.Nav-container {
  max-width: 1200px;
  margin: auto;
  padding: 1rem 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Nav-items {
  display: flex;
  list-style: none;
  gap: 2rem;
}
.Nav-links {
  font-weight: 530;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}
.logo {
  font-size: 1.8rem;
  font-weight: bold;
}
